    <div class="form-group">
        <%= form_for @image, builder: CustomFormBuilder do |form| %>
            <%= form.form_error %>
            <%= form.label :description %> <br>
            <%= form.text_field :description, class: 'form-control' %> <br>
            <%= form.field_error :description %>
            <br>
            <%= form.label :picture %> <br>
            <%= form.file_field :picture %> <br>
            <%= form.submit 'Send', :class => 'btn btn-primary' %>
        <% end %>
    </div>