    <%- if @image.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading">Algo ha salido mal :(</h4>
            <p>Intenta llenar los datos completos del formulario</p>
        </div>
    <% end %>
    <div class="form-group">
        <%= form_for @image do |form| %>
            <%= form.label :description %> <br>
            <%= form.text_field :description, class: 'form-control' %> <br>
            <%- if @image.errors[:description].any? %>
              <span class="badge badge-pill badge-danger">
                  <%= @image.errors[:description].first %>
              </span>
            <% end %>
            <br>
            <%= form.label :picture %> <br>
            <%= form.file_field :picture %> <br>
            <%= form.submit 'Send', :class => 'btn btn-primary' %>
        <% end %>
    </div>